{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main">

            <a href="{{ path('app_description') }}" class="category"><img id="photo" src="{{ asset('assets/image/My project (3).jpg') }}"><article>Ma description</article></a>
            <a href="{{ path('app_career') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-mallette-64 (1).png') }}"><article>Mon parcours</article></a>
            <a href="{{ path('app_skills') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-compétences-de-développement-50 (1).png') }}"><article>Mes compétences</article></a>
            <a href="{{ path('app_project') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-mon-ordinateur-64.png') }}"><article>Mes projets</article></a>
            <a href="{{ path('app_contact') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-téléphone-débranché-50.png') }}"><article>Me contacter</article></a>

            {% extends '_footer.html.twig' %}

    </div>
{% endblock %}
