{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main">

            <a href="{{ path('app_description') }}" class="category"><img id="photo" src="{{ asset('assets/image/My project (3).jpg') }}"><article>Ma description</article></a>
            <a href="{{ path('app_career') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-mallette-64 (1).png') }}"><article>Mon parcours</article></a>
            <a href="{{ path('app_skills') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-compétences-de-développement-50 (1).png') }}"><article>Mes compétences</article></a>
            <a href="{{ path('app_project') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-mon-ordinateur-64.png') }}"><article>Mes projets</article></a>
            <a href="{{ path('app_contact') }}" class="category"><img class="icon" src="{{ asset('assets/image/icons8-téléphone-débranché-50.png') }}"><article>Me contacter</article></a>

        <footer>
            <div id="little_main">
                <a href="{{ path('app_description') }}" class="category2"><h2>Ma description</h2></a>
                <a href="{{ path('app_career') }}" class="category2"><h2>Mon parcours</h2></a>
                <a href="{{ path('app_skills') }}" class="category2"><h2>Mes compétences</h2></a>
                <a href="{{ path('app_project') }}" class="category2"><h2>Mes projets</h2></a>
                <a href="{{ path('app_contact') }}" class="category2"><h2>Me contacter</h2></a>
            </div>
            
            <div id="bottom">
                    <a href="#" id="windows">
                        <img class="icon_footer" src="{{ asset('assets/image/icons8-windows-10.svg') }}">
                    </a>
                    <a href="https://www.google.fr" id="chrome">
                        <img class="icon_footer"src="{{ asset('assets/image/icons8-chrome-30.png') }}">
                    </a>
            </div>
        </footer>

    </div>
{% endblock %}
