{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main_D">
        
        <section id="case">
            <h1>Mes compétences</h1>

            <div id="skills">
                <div class="skill"> <img src="{{ asset('assets/image/icons8-html-5-48.png') }}" alt="html" class="logo"> <p> HTML5 </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-css3-48.png') }}" alt="css" class="logo"> <p> CSS3 </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-logo-php-64.png') }}" alt="php" class="logo"> <p> PHP </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-javascript-48.png') }}" alt="Javascript" class="logo"> <p> Javascript </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-symfony.svg') }}" alt="Symfony" class="logo"> <p> Symfony </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-logo-de-mysql-48.png') }}" alt="Mysql" class="logo"> <p> MySQL </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-git-48.png') }}" alt="Git" class="logo"> <p> Git </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-github-48.png') }}" alt="Github" class="logo"> <p> Github </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-figma-48.png') }}" alt="Figma" class="logo"> <p> Figma </p> </div>
            </div>

            <a href="{{ path('app_desk') }}" id="return">Retour à la page précédente</a>
        </section>

        <footer>
            <div id="little_main">
                <a href="{{ path('app_description') }}" class="category2"><h2>Ma description</h2></a>
                <a href="{{ path('app_career') }}" class="category2"><h2>Mon parcours</h2></a>
                <a href="{{ path('app_skills') }}" class="category2"><h2>Mes compétences</h2></a>
                <a href="{{ path('app_project') }}" class="category2"><h2>Mes projets</h2></a>
                <a href="{{ path('app_contact') }}" class="category2"><h2>Me contacter</h2></a>
            </div>
            
            <div id="bottom">
                    <a href="#" id="windows">
                        <img src="{{ asset('assets/image/icons8-windows-10.svg') }}">
                    </a>
                    <a href="https://www.google.fr" id="chrome">
                        <img src="{{ asset('assets/image/icons8-chrome-30.png') }}">
                    </a>
            </div>
        </footer>

    </div>
{% endblock %}