{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main_D">
        
        <section id="case">
            <h1>Mes compétences</h1>

            <div id="skills">
                <div class="skill"> <img src="{{ asset('assets/image/icons8-html-5-48.png') }}" alt="html" class="logo"> <p> HTML5 </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-css3-48.png') }}" alt="css" class="logo"> <p> CSS3 </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-logo-php-64.png') }}" alt="php" class="logo"> <p> PHP </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-javascript-48.png') }}" alt="Javascript" class="logo"> <p> Javascript </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-symfony.svg') }}" alt="Symfony" class="logo"> <p> Symfony </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-logo-de-mysql-48.png') }}" alt="Mysql" class="logo"> <p> MySQL </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-git-48.png') }}" alt="Git" class="logo"> <p> Git </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-github-48.png') }}" alt="Github" class="logo"> <p> Github </p> </div>
                <div class="skill"> <img src="{{ asset('assets/image/icons8-figma-48.png') }}" alt="Figma" class="logo"> <p> Figma </p> </div>
            </div>

            <a href="{{ path('app_desk') }}" id="return">Retour à la page précédente</a>
        </section>

        {% extends '_footer.html.twig' %}

    </div>
{% endblock %}